.body{
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.h1{
    height: 50px;
    max-width: 500px;
    margin-top: 10px;
}

.img{
    height: 350px;
    width: 500px;
}
a:hover{
    color: blue;
}
.menu{
    background: red;
    color:white;
    text-decoration: none;
    padding: 10px 10px;
    border: 2px solid black;
    border-radius: 5px;
}
#paragraf{
    color: rgb(251, 255, 0);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#none{
    display: none;
}
.marque{
    text-align: center;
    font-size: 18px;
}